<div class="service-menu">
    <div class="service-conatiner">
        <div class="service-heading">
            <p class="service-text" class="title">Services</p>
            <p class="service-desc">We provide best service to our precious customers.</p>
        </div>
        <div class="service-item-container">
            <div class="service-item" *ngFor="let s of services">
                <div class="hr"></div>
                <div class="item-list-container">
                    <div class="service-image-div">
                        <i class="fa-solid fa-paint-roller"></i>
                    </div>
                    <h5>{{s.service}}</h5>
                    <p class="item-desc">{{s.description}}
                        Elevate Comfort, and Inspire Every Moment.</p>
                    <p class="more-btn">More</p>
                </div>
                <div class="hrd"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="title"><h4>Our Works</h4></div>
</div>
