.title{
    color:#f5674b;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    letter-spacing: 0.2cm;
    text-align: center;
    margin-top: 20px;
    
}