<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand title" aria-label="Homepage" routerLink="/">
      <img src="../../../assets/logos/logo.png" height="50px" width="100px" class="logo">
    </a>
    <span class="logo-text logo-theme">Themes</span>
    <span class="logo-text logo-interior">Interior</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav navlist">
        <li class="nav-item">
          <a class="nav-link nav_link navhome" aria-current="page" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_link" routerLink="/about" routerLinkActive="active-link">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_link" routerLink="/services" routerLinkActive="active-link">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_link" routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
